*.o
tp
tp1_1_2012.pdf
tp1/
tp1.cbp
tp1.depend
tp1.layout
informe/*.aux
informe/*.log
informe/*.synctex
informe/*.toc
informe/*.out
informe/TSWLatexianTemp*
informe/*.bbl
informe/*.blg
informe/*.pdf
informe/*.synctex.gz
