tp
*.o
out*
randbuil
random_building
random_building.dSYM/
informe/*.aux
informe/*.log
informe/*.synctex
informe/*.toc
informe/*.out
informe/TSWLatexianTemp*
informe/*.bbl
informe/*.blg
informe/*.pdf
informe/*.synctex.gz
*.dSYM
