tp2.cbp
tp2.layout
tp
psnr
generateNoise
tmp
*.o
print_matrix*
pm*
out*.pgm
pruebas
manual_octave.pdf
informe/*.aux
informe/*.log
informe/*.synctex
informe/*.toc
informe/*.out
informe/TSWLatexianTemp*
informe/*.bbl
informe/*.blg
informe/*.pdf
informe/*.synctex.gz

